@import "tailwindcss";

.txt {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.txt::-webkit-scrollbar {
  display: none; 
  pointer-events: none;
}

.txt::-webkit-scrollbar-track {
  pointer-events: none;
}
.txt::-webkit-scrollbar-thumb {
  pointer-events: none;
}
